@import '../../../../../common.styl'

.item
  border-radius 12px
  overflow hidden
  border 1.5px solid #ECECF2
  padding 16px
  
  display: flex
  align-items: center
  justify-content: space-between

  + .item
    // margin-top 16px
    margin-left: 16px

  .status
    display flex
    align-items center
  