@import '../../../../../common.styl'

.row
  display: flex
  justify-content: space-between
  padding: 16px 0
  border-bottom: 1px solid $border-color
  min-height: 64px

  div
    flex 1
    align-items center
    
    text-align center

    .deliveryCode
      font-size: 14px
      font-weight: 500
      color: $primary-dark


.orderNumber
  font-weight 500
  color $primary-dark